@model Ass2NET.Models.ViewModels.ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.communities.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.communities.First().Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.communities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.CommunityId">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.CommunityId">Edit</a> |
                    <a asp-controller="Advertisements" asp-action="Index" asp-route-id="@item.CommunityId">Ads</a> |
                    <a asp-action="Details" asp-route-id="@item.CommunityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommunityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CommunityMemberships != null)
{
    <h3>
        Members of the Community:
    </h3>
    <table class="table">
        <tr>
            @if (Model.CommunityMemberships.Count() > 0)
            {
                <th> Name </th>
            }
            else
            {
                <th> No student record.</th>
            }
        </tr>
        @foreach (var item in Model.CommunityMemberships.Select(i => i.Student))
        {
            <tr>
                <td>
                    @item.FullName
                </td>
            </tr>
        }
    </table>
}