@model Ass2NET.Models.ViewModels.ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students.First().EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.StudentId">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="EditMemberships" asp-route-id="@item.StudentId">Edit Memberships</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CommunityMemberships != null)
{
    <h3>
        Members of the Community:
    </h3>
    <table class="table">
        <tr>
            @if (Model.CommunityMemberships.Count() > 0)
            {
                <th> Name </th>
            }
            else
            {
                <p>No community record </p>
            }
        </tr>
        @foreach (var item in Model.CommunityMemberships.Select(i => i.Community))
        {
            <tr>
                <td>
                    @item.Title
                </td>
            </tr>
        }
    </table>
}